.shop-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  background-image: linear-gradient(to right bottom, #0b2a6b 0%, #e4b6b9 100%);
}
.shop-container1 {
  gap: 7.5%;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  padding-top: 5%;
  border-radius: var(--dl-radius-radius-radius4);
  padding-bottom: 5%;
  justify-content: center;
}
.shop-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.shop-navlink {
  display: contents;
}
.shop-image {
  width: 350px;
  height: 450px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.shop-text {
  font-size: 25px;
  align-self: flex-end;
  padding-top: 1%;
  padding-bottom: 1%;
}
.shop-text03 {
  font-size: 20px;
  align-self: flex-end;
}
.shop-container3 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.shop-navlink1 {
  display: contents;
}
.shop-image1 {
  width: 350px;
  height: 450px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.shop-text06 {
  font-size: 25px;
  align-self: flex-end;
  padding-top: 1%;
  padding-bottom: 1%;
}
.shop-text09 {
  font-size: 20px;
  align-self: flex-end;
}
.shop-container4 {
  gap: 4%;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.shop-navlink2 {
  display: contents;
}
.shop-image2 {
  width: 350px;
  height: 450px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.shop-text12 {
  font-size: 25px;
  align-self: flex-end;
  padding-top: 1%;
  padding-bottom: 1%;
}
.shop-text15 {
  font-size: 20px;
  align-self: flex-end;
}
@media(max-width: 1600px) {
  .shop-container1 {
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 1200px) {
  .shop-image {
    width: 300px;
    height: 400px;
  }
  .shop-image1 {
    width: 300px;
    height: 400px;
  }
  .shop-image2 {
    width: 300px;
    height: 400px;
  }
}
@media(max-width: 767px) {
  .shop-container4 {
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .shop-container1 {
    align-items: center;
    justify-content: center;
  }
  .shop-container3 {
    margin-left: 0px;
  }
  .shop-container4 {
    margin-left: 0px;
  }
}
