.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  font-size: 20px;
  text-decoration: none;
}
.navigation-links-text1 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-navlink {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink1 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}








.navigation-links-root-class-name8 {
  flex: 0 0 auto;
  align-self: stretch;
}

.navigation-links-root-class-name10 {
  flex: 0 0 auto;
  align-self: stretch;
}
.navigation-links-root-class-name12 {
  flex: 0 0 auto;
  align-self: stretch;
}

@media(max-width: 1600px) {
  .navigation-links-root-class-name8 {
    margin: 0px;
  }
  .navigation-links-root-class-name10 {
    margin: 0px;
  }
  .navigation-links-root-class-name12 {
    margin: 0px;
  }
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.shop-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.shop-header {
  width: 100%;
  display: flex;
  max-width: 100%;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #fdf5e6;
  border-top-left-radius: var(--dl-radius-radius-radius2);
  border-top-right-radius: var(--dl-radius-radius-radius2);
  border-bottom-left-radius: var(--dl-radius-radius-radius2);
  border-bottom-right-radius: var(--dl-radius-radius-radius2);
}
.shop-navlink {
  display: contents;
}
.shop-image {
  height: 2rem;
  text-decoration: none;
}
.shop-nav {
  display: flex;
  position: relative;
}
.shop-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.shop-login {
  font-size: 20px;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: #fdf5e6;
}
.shop-register {
  font-size: 20px;
  text-decoration: none;
  background-color: #fdf5e6;
}
.shop-burger-menu {
  display: none;
}
.shop-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.shop-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.shop-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.shop-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.shop-image1 {
  height: 2rem;
}
.shop-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.shop-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.shop-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.shop-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.shop-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: flex-start;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: center;
}
.shop-container3 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-top: 1.5%;
  flex-direction: column;
  padding-bottom: 1.5%;
  justify-content: center;
}
.shop-image2 {
  width: 350px;
  height: 450px;
  object-fit: cover;
}
.shop-text {
  font-size: 25px;
  align-self: flex-end;
}
.shop-text03 {
  font-size: 20px;
  align-self: flex-end;
}
.shop-container4 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-top: 1.5%;
  padding-left: 7%;
  padding-right: 7%;
  flex-direction: column;
  padding-bottom: 1.5%;
  justify-content: center;
}
.shop-image3 {
  width: 350px;
  height: 450px;
  object-fit: cover;
}
.shop-text06 {
  font-size: 25px;
  align-self: flex-end;
}
.shop-text09 {
  font-size: 20px;
  align-self: flex-end;
}
.shop-container5 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-top: 1.5%;
  flex-direction: column;
  padding-bottom: 1.5%;
  justify-content: center;
}
.shop-image4 {
  width: 350px;
  height: 450px;
  object-fit: cover;
}
.shop-text12 {
  font-size: 25px;
  align-self: flex-end;
}
.shop-text15 {
  font-size: 20px;
  align-self: flex-end;
}
@media(max-width: 1600px) {
  .shop-header {
    width: 100%;
    max-width: 100%;
    background-color: #fdf5e6;
  }
  .shop-login {
    font-size: 20px;
    background-color: #fdf5e6;
  }
  .shop-register {
    font-size: 20px;
    background-color: #fdf5e6;
  }
  .shop-container2 {
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 1200px) {
  .shop-image2 {
    width: 300px;
    height: 400px;
  }
  .shop-image3 {
    width: 300px;
    height: 400px;
  }
  .shop-image4 {
    width: 300px;
    height: 400px;
  }
}
@media(max-width: 767px) {
  .shop-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .shop-nav {
    display: none;
  }
  .shop-btn-group {
    display: none;
  }
  .shop-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .shop-container5 {
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .shop-header {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .shop-mobile-menu {
    padding: 16px;
  }
  .shop-container2 {
    align-items: center;
    justify-content: center;
  }
  .shop-container4 {
    margin-left: 0px;
  }
  .shop-container5 {
    margin-left: 0px;
  }
}
