.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  font-size: 20px;
  text-decoration: none;
}
.navigation-links-text1 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-navlink {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink1 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}








.navigation-links-root-class-name8 {
  flex: 0 0 auto;
  align-self: stretch;
}

.navigation-links-root-class-name10 {
  flex: 0 0 auto;
  align-self: stretch;
}
.navigation-links-root-class-name12 {
  flex: 0 0 auto;
  align-self: stretch;
}

.navigation-links-root-class-name14 {
  flex: 0 0 auto;
  align-self: stretch;
}

.navigation-links-root-class-name16 {
  flex: 0 0 auto;
  align-self: stretch;
}
@media(max-width: 1600px) {
  .navigation-links-root-class-name8 {
    margin: 0px;
  }
  .navigation-links-root-class-name10 {
    margin: 0px;
  }
  .navigation-links-root-class-name12 {
    margin: 0px;
  }
  .navigation-links-root-class-name14 {
    margin: 0px;
  }
  .navigation-links-root-class-name16 {
    margin: 0px;
  }
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
